html{
	font-family: Garamond;
}

h2{
	font-size: x-large;
}

.subheading{
	text-decoration: underline;
	font-size: large;
}

#background1{
	background-color: #99e4ff;
}

#background2{
	background-color: #ff99bb;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
}

#background3{
	background-color: #ea99ff;
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
}

.photo{
	text-align: right;
}